  <!--
  4) Make the hobbies clickable to remove them once clicked
  5) Add a <p>Hobby deleted!</p> which is only shown once at least one hobby was deleted (be creative on how to track this!)
  6) Add a hobby counter (<p>Hobbies: ...</p>) above the list of hobbies
  7) Dynamically style/ add classes to the hobby counter, depending on whether you have more or less than 3 hobbies
  8) Outsource your hobbies (the <li> elements) into a re-usable component
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <title>The world of Javascript</title>
</head>

<body>

  <div id="app">
    <input type="text" v-model="hobby">
    <button v-on:click="addHobby">Add Hobby</button>
    <ul>
      <li 
      v-for="hobby in hobbies" 
      v-on:click="removeHobby"
      v-bind:id="'hobby' + hobbies.length">{{ hobby }}</li>
    </ul>
  </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
<script src="app.js"></script>

</html>